# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
build/
dist/

# Temporary files
*.cache
*.log
*.tmp

# ESLint cache
.eslintcache

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
coverage/
public/static/
yarn.lock
package-lock.json
